---
layout: default
title: CevinJohnny's Blog
---

{% for post in site.posts %}
{% if forloop.index == 1 %}
    <div class="posts">
    <div class="title">{{ post.title }}</div>
    <div class="content">
    {{ post.content }}
    </div>

    </div>
    {%  %}
        <hr>
        <div class="eof">EOF</div>
        <hr>
        <h3><strong>阅读更多:</strong></h3><br>
    {% endif %}
{% else %}
    {% if forloop.index <= 6 %}
    <div class="title justtitle"><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% endif %}
{% endif %}
{% endfor %}
<hr>
<h3><strong>一些杂碎:</strong></h3><br>
<div class="title justtitle"><a href="/linux-kernel-architecture/archive/">Javascript笔记</a></div>
<div class="title justtitle"><a href="/feed.xml">订阅</a></div>
<div class="title justtitle"><a href="/guestbook">给我留言</a></div>
<div class="title justtitle"><a href="/links">给我留言</a></div>
