<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</head>
<body>
<div class="header">
	<ul id="nav0">
                    <li><a href="http://jaysukho.github.io/myblog/">Home</a></li>
                    <li><a href="/archive/">Archive</a></li>
                    <li><a href="http://weibo.com/zhuoyiboke" target="_blank">Tweets</a></li>
    </ul>
</div>

<div id="head">
	<a href="http://cevinjohnny.github.io/	">
		Cevin Johnny`s Blog
	</a>		  
</div> 

<div class="container">

{% include banner.html %}

<div class="main clearfix">
{{ content }}
</div>
</div>

{% include footer.html %}
</body>
</html>

